<h4>Product Name: <%=@review.product_name%></h4>

<p>Review: <%=@review.content%></p>

<p>Rating: <%=@review.rating%></p>
<p>Author: <%=@review.user.username%></p>

<form method="post" action="/reviews/<%=@review.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete Review">
</form>
<br>
<a href="/reviews/<%=@review.id%>/edit">Edit Review </a><br>
<a href="/">Home</a>